@tailwind base;
@tailwind components;
@tailwind utilities;



.markdown h1 {
    font-weight: 600;
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.markdown h2 {
    font-weight: 500;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.markdown pre {
    color: green;
    font-weight: 900;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 15px;
    background-color: rgb(198, 201, 202);
    border: 2px  #cecece solid ;
}
